{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block contenido %}

<div class="contact pad" id="contact">
    <div class="container">
        <!-- default heading -->
        <div class="default-heading">
            <!-- heading -->
            <h2>MAKE A REVIEW</h2>
        </div>
        <div class="form-content">
            <p><i style="color: black;">Write your review</i></p>
            {%if user.is_authenticated%}
                <form role="form" method="post", id ="reviewForm">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                             <form>
                                {% csrf_token %}
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for = "pizzaModel">Pizza: </label>
                                        {{form.pizzaModel}}
                                    </div>
                                    <div class="form-group">
                                        <label for="valoracion">Points: </label>
                                        {{form.valoracion}}
                                    </div>
                                    <div class="form-group" style="visibility: hidden;">
                                        <label for = "username">Username: </label>
                                        {{form.username}}
                                    </div>
 
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="descripcion">Review: </label>
                                        {{form.descripcion}}
                                    </div>
                                    <button type="submit" class="save btn btn-default">Upload review</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            {%else%}
                <p>In order to make a review you must haved logged in!</p>
                <p><a href="/proyecto/loginORegistro"> Go to register or login page.</a></p>
            {%endif%}
            
        </div>
    </div>
</div>

<script>
    var username = "{{user.username}}";
    console.log('User:' + username)

    document.getElementById("id_username").value = username;
</script>
{% endblock %}