{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block contenido %}

<div id="latestreview" class="review pad">
    <div class="container">
        <div class="review-content ">
            <h2>Review</h2>
            <hr>
            <p>Here you will find all the reviews</p>
            <div class= "make-review">
                <h4><strong><a href="/comentario"> Make a review</a></strong></h4>   
            </div>
        </div>

        <div class="review-list">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="figure">
                        <img class="img-responsive" src="{% static 'img/logos/reviewIcon.png'%}" alt="" width="800"/>
                    </div>
                </div>
             <div class="col-md-6 col-sm-6">
                <div class="revies">
                 <h1 class="content-subhead">Review list</h1>
                 {% if comentarios %}
                    {% for c in comentarios %}
                        {%if pizzas%}
                          {%for pizza in pizzas%}
                            {%if pizza.id == c.pizzaModel.pizzaModel_id%}
                            <section class="review">
                                <header class="review-header">
                                    <h4 class="review-title">|<a href="/pizzas/{{pizza.id}}" style= "color:black">{{pizza.title}}</a></h4>
                                </header>
                                <div class="review-description">
                                    <strong style="color:blue">Creator</strong>: <i style= "color:black">{{c.username}}</i> &nbsp;|&nbsp; 
                                    <strong style="color: blue;">Points</strong>: <strong style="color: black;">{{c.valoracion}}</strong>&nbsp;|&nbsp;
                                    <p><strong style="color: blue;">Description</strong>:<i style="color: black;">{{c.descripcion}}</i></p> 
                                    <img class="img-responsive" src="{{pizza.image}}" alt="" width="80"/>
                                </div>
                            </section>
                            {%else%}
                            {%endif%}
                          {%endfor%}
                        {%else%}
                         <p>No pizzas</p>
                        {%endif%}
                    {% endfor %}
                 {%else%}
                    <section class="review">
                        <header class="review-header">
                            <h2 class="review-title">No reviews made yet.</h2>
                        </header>
                    </section>
                 {%endif%}
                </div>
			 </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}