{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block contenido %}

<div id="latestpizza" class="pizza pad">
    <div class="container">ç
        <div class="menu-content ">ç
            <h2>WELCOME TO PIZZALAND</h2>
            <hr>
        </div>

        <div class="menu-list">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="figure">
                        <a href = "/proyecto/pizzas"><img class="img-responsive"  src="{% static 'img/logos/pizza.jpg'%}" alt="" width="250"/></a>
                    </div>
                    <div class="pizza-details">
                        <h4><strong><a style="color: black;" href="/proyecto/pizzas">PIZZAS</a></strong></h4>
                        <p>The finest pizzas</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="figure">
                        <a href = "/proyecto/comentario"><img class="img-responsive" src="{% static 'img/logos/review.jpg'%}" alt="" width="250"/></a>
                    </div>
                    <div class="pizza-details">
                        <h4><strong><a style="color: black;" href="/proyecto/comentario">MAKE A REVIEW</a></strong></h4>
                        <p>Make a review of one our pizzas</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="figure">
                        <a href = "/proyecto/comentarios"><img class="img-responsive" src="{% static 'img/logos/listReviews.png'%}" alt="" width="100"/></a>
                    </div>
                    <div class="pizza-details">
                        <h4><strong><a style="color: black;" href="/proyecto/comentarios">REVIEWS</a></strong></h4>
                        <p>Read all the reviews our users have written</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="figure">
                        <a href = "/proyecto/contacto"><img class="img-responsive" src="{% static 'img/logos/contact.jpg'%}" alt="" width="150"/></a>
                    </div>
                    <div class="pizza-details">
                        <h4><strong><a style="color: black;" href="/proyecto/contacto">CONTACT US</a></strong></h4>
                        <p>If you have any doubts or any suggestions please feel free to share them with us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}