{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block contenido %}

<div class="pizzas pad" id="pizzas">
	<div class="container">
		<div class="default-heading">
			<h2>PIZZAS</h2>
		</div>
		<div class="pizza-element">
			<div class="row">
				{% if pizzas %}
					{% for p in pizzas %}
					<div class="col-md-4 col-sm-6">
						<div class="featured-item ">
							<div class="figure">
								<a href="/pizzas/{{p.id}}"><img class="img-responsive" src={{p.image}} alt="" width="400" height="400" /></a>
								<p><a style="color: white" href="/pizzas/{{p.id}}">{{p.title}}</a></p>
							</div>
							<div class="featured-item-info">
								<h4><a href="/pizzas/{{p.id}}">{{p.title}}</a></h4>
								<hr />
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
					<p>No pizzas found.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}