{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block contenido %}

<!-- albumes -->
<div class="pizzas pad" id="pizzas">
	<div class="container">
		<!-- default heading -->
		<div class="default-heading">
			<!-- heading -->
			<h2>{% trans "PIZZAS" %}</h2>
		</div>
		<!-- featured album elements -->
		<div class="pizza-element">
			<div class="row">
				{% if pizzas %}
					{% for p in pizzas %}
					<div class="col-md-4 col-sm-6">
						<!-- featured item -->
						<div class="featured-item ">
							<!-- image container -->
							<div class="figure">
								<!-- imagen -->
								<a href="/proyecto/pizzas/{{p.id}}"><img class="img-responsive" src={{p.image}} alt="" width="400" height="400" /></a>
								<!-- descripcion -->
								<p><a style="color: white" href="/proyecto/pizzas/{{p.id}}">{{p.title}}</a></p>
							</div>
							<!-- featured information -->
							<div class="featured-item-info">
								<!-- featured title -->
								<h4><a href="/proyecto/pizzas/{{p.id}}">{{p.title}}</a></h4>
								<!-- horizontal line -->
								<hr />
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
					<p>No pizzas found.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}